{% extends 'admin/base_site.html' %}
{% load i18n %}
{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="action" value="upload_mt940_file" />
    <input type="hidden" name="upload_mt940_file" value="upload_mt940_file" />

    <h2>Upload mt940 file</h2><hr>
    </br>
    <table>{{ upload_form }}</table>
    </br>

    {% for object in objects %}
        <input type="hidden" name="_selected_action" value="{{ object.pk }}">
    {% endfor %}

    <div>
        <input type="submit" name="upload_mt940_file" value="{% trans "Upload" %}" />
        <a style="padding:10px 15px" href="" class="button cancel-link">{% trans "No, take me back" %}</a>
    </div>
</form>
{% endblock %}
